<html>
  <head>
    <title>{{ .title }}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link href="jumbotron-narrow.css" rel="stylesheet">

  </head>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
        <!-- Ingen meny -->
        </ul>
        <h2 class="text-muted">RecipeDB</h2>
      </div>
      <div class="row marketing">
          <h3>All recipes ({{ len .recipes }})</h3>
          {{range .recipes}}
            <div class="row">
              <div class="col-md-2">
        		    <span float="right"><b>{{ .Name }}</b>:</span>
              </div>
              <div class="col-md-2">
      		      {{ .Type }} - {{ .Description }} <br/><br/><br/>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-{{ .Possible }}">Make</button>
              </div>
      		  </div>
          {{ end }}
          <hr>
        	<h3>In your kitchen</h3>
          {{range .kitchen}}
            <div class="row">
              <div class="col-md-2">
                <span float="right"><b>{{ .Item }}</b>:</span>
              </div>
              <div class="col-md-2">
      		  {{ if lt .Amount.Float64 0.0 }}
      		  	Unknown Amount
      		  {{ else }}
      			  {{ .Amount.Float64 }} {{ .Unit }}
      		  {{ end }}
            </div>
      		</div>
          {{ end }}
          <hr>


          <form class="form-horizontal" style="max-width: 600px" action="/kitchen" method="post">
          <fieldset>

          <!-- Form Name -->
          <h3>Add items in your kitchen</h3>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Item">Item</label>  
            <div class="col-md-5">
            <input id="Item" name="Item" type="text" placeholder="Item name" class="form-control input-md" required="">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Amount">Amount</label>  
            <div class="col-md-5">
            <input id="Amount" name="Amount" type="text" placeholder="Amount" class="form-control input-md">
              
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Unit">Unit</label>
            <div class="col-md-5">
              <select id="Unit" name="Unit" class="form-control">
                <option value="Gram">Gram</option>
                <option value="Litre">Litre</option>
                <option value="Piece">Piece</option>
              </select>
              <p class="help-block">Only required for new items</p>
            </div>
          </div>

          <!-- Multiple Checkboxes (inline) -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Unknown">Remove Unknown</label>
            <div class="col-md-4">
              <label class="checkbox-inline" for="Unknown-0">
                <input type="checkbox" name="Unknown" id="Unknown-0" value="true">
                Yes
              </label>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Submit"></label>
            <div class="col-md-4">
              <button id="Submit" name="Submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          </fieldset>
          </form>
        </div>
        </div>
    </div>
  </body>
</html>
