<html>
  <head>
    <title>{{ .title }}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>

  <body style="margin: 20px;">
  	<h1>All recipes ({{ len .recipes }})</h1>
    {{range .recipes}}
		<dl class="dl-horizontal">
		  <dt>{{ .Name }}</dt>
		  <dd>{{ .Type }} - {{ .Description }} <button type="button" class="btn btn-{{ .Possible }}">Make</button></dd>
		</dl>
    {{ end }}

  	<h1>In your kitchen</h1>
    {{range .kitchen}}
		<dl class="dl-horizontal">
		  <dt>{{ .Item }}</dt>
		  {{ if lt .Amount.Float64 0.0 }}
		  	<dd>Unknown Amount</dd>
		  {{ else }}
			<dd>{{ .Amount.Float64 }} {{ .Unit }}</dd>
		  {{ end }}
		</dl>
    {{ end }}


    <h1>Add some stuff to yo kitchen</h1>
    <form action="/kitchen" method="POST" class="pure-form">
      <input type="text" name="Item" placeholder="Item" />
      <input type="text" name="Amount" placeholder="Amount" />
      <select name="Unit">
        <option value="piece">Piece</option>
        <option value="litre">Litre</option>
        <option value="gram">Gram</option>
      </select>
      <input type="checkbox" name="Unknown" value="true">Replace Unknown Amount 
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
