<html>
  <head>
    <title>{{ .title }}</title>
  </head>

  <body style="margin: 20px;">
    <h1>Stuff in yo kitchen</h1>
    {{ len .kitchen }}
    {{range .kitchen}}
      <div> {{.Item}} - {{.Amount}}</div>
    {{ end }}

    <h1>Add some stuff to yo kitchen</h1>
    <form action="/items" method="POST" class="pure-form">
      <input type="text" name="Item" placeholder="Item" />
      <input type="text" name="Amount" placeholder="Amount" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
